.news {
  padding-bottom: 20px;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 418px;
    margin-bottom: 30px;
    &--date {
      color: $secondary;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &--name {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 20px;
    }
    &--short-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
    &--read-more {
      color: $secondary;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}