$container: 1330px;
$text: #000;
$search-border: #030303;
$white: #fff;
$color-1: #207277;
$color-2: #C03C3C;
$color-3: #13826E;
$color-4: #E2702F;
$color-5: #188AA3;
$color-6: #F0AE4C;
$color-7: #F0AE4C;

$section-title: #188AA3;
$secondary: #22ACCA;
$btn-bg: #E2702F;

$footer-bg: #413D3D;