$container: 1330px;
$text: #000;
$search-border: #030303;
$white: #fff;
$color-1: #207277;
$color-2: #c03c3c;
$color-3: #13826e;
$color-4: #e2702f;
$color-5: #188aa3;
$color-6: #f0ae4c;
$color-7: #f0ae4c;

$section-title: #188aa3;
$secondary: #22acca;
$btn-bg: #e2702f;

$footer-bg: #413d3d;

$social-links: #413d3d;
