.video {
  margin-bottom: 70px;
  &__inner {
    display: flex;
    justify-content: space-between;

    margin-bottom: 37px;
  }
  &__item {
    overflow: hidden;
    &:hover .video__cover {
      transform: scale(1.1);
    }
  }
  &__cover {
    transition: all 0.2s linear;
  }
}
